
releases/GMA 0.2.6.zip
*.png
jquery-ui-1.12.1/AUTHORS.txt
jquery-ui-1.12.1/external/jquery/jquery.js
jquery-ui-1.12.1/index.html
jquery-ui-1.12.1/jquery-ui.css
jquery-ui-1.12.1/jquery-ui.js
jquery-ui-1.12.1/jquery-ui.min.css
jquery-ui-1.12.1/jquery-ui.min.js
jquery-ui-1.12.1/jquery-ui.structure.css
jquery-ui-1.12.1/jquery-ui.structure.min.css
jquery-ui-1.12.1/jquery-ui.theme.css
jquery-ui-1.12.1/jquery-ui.theme.min.css
jquery-ui-1.12.1/LICENSE.txt
jquery-ui-1.12.1/package.json
releases/GMA .0.2.1.zip
releases/GMA 0.2.2.zip
releases/GMA 0.2.3.zip
releases/GMA 0.2.4.zip
releases/GMA 0.2.5.zip
releases/GMA 0.2.7.1.zip
releases/GMA 0.2.7.zip
releases/GMA 0.3.0.zip
releases/Google Meet Attendance.zip
*.zip
*.pdn
Student Data Privacy Contract North Haven - Google Meet Attendance Extension (Al Caughey).pdf
Other docs/sample-class.txt
meet/meet-background.js
releases/GMA v0.8.1/css/normalize.css
src.crx
src.pem
*.docx
Other docs/Invoice 1011 - WSCSD.pdf
Other docs/Ken-Ton Data Sharing and Confidentiality Agreement Template 2020.pdf
Other docs/WSCSD - Data Sharing and Confidentiality Agreement - Google Meet Attendance.pdf
Other docs/West Seneca Vendor Master Agreement - Google Meet Attendance.pdf
Other docs/Ken-Ton Data Sharing and Confidentiality Agreement Template 2020 (AC 2020-09-22).pdf
