#Attendance-div{
	left:0;
	position:absolute;
	top: 88px;
	z-index:99;
}
#Attendance-div.in-meeting{
	opacity:0.3;
}
#Attendance-div p{
	background:red;
	color:#EEE;
    cursor: move;
	font-weight:bold;
	margin:0;
	padding:0 0 0 4px;
}
#Attendance-div p:first-of-type{
	border-radius: 8px 8px 0 0;
}
#save-text{
	color:#EEE;
	text-decoration:none;
}
#Attendance-div p span, #save-text{
	cursor: pointer;
	margin: 0 4px;
	opacity: .75;
}
#Attendance-div p span:hover, #save-text:hover{
	opacity: 1;
}
#Attendance-div p span:active, #save-text:active {
    opacity: .333;
}
#cl-hdr{
	background:transparent;
	border: 0;
    cursor: pointer;
}
#class-code {
    display: none;
}
#class-name {
    width: 72px;
}
#Invited-List{
	//background-color: transparent;
	width: calc(100% - 6px);
	min-width: calc(100% - 6px);
}
.in-meeting #Invited-List{
	min-height:unset;
	white-space: nowrap;
}
#Attendance-div.empty, #Attendance-div:hover{
	background-color: white;
	opacity: 1;
}
.in-meeting.empty #Invited-List {
	min-height: 100px;
	transition: height 1.5s ease-out;
}
#Attendance-div.meeting-over  {
	left: 100px;
}
.meeting-over #Invited-List {
	min-height: 500px;
	transition: height 1.5s ease-out;
}
.empty #cl-clr, .empty #cl-ccl {
	visibility: hidden;
}
#Invited-List:focus {
	background-color: white;
	min-height:400px;
	width: 228px;
}
